<!DOCTYPE html>
<html>
<%- include ../Docpublic/head.ejs %>
<body>
<div class="page">
  <!--头部导航栏-->
  <%- include ../Docpublic/header.ejs %>
  <div class="page-content d-flex align-items-stretch">
    <!-- 侧边栏 -->
    <%- include ../Docpublic/side.ejs %>
    <div class="content-inner">
      <!--页面标题-->
      <header class="page-header">
        <div class="container-fluid">
          <h2 class="no-margin-bottom">预约</h2>
        </div>
      </header>
      <div class="breadcrumb-holder container-fluid">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">首页</a></li>
          <li class="breadcrumb-item active">我的预约</li>
        </ul>
      </div>





      <!-- 第一板块 -->
      <section>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <div class="card-body">
                    <h5 class="card-title text-center">最新预约</h5>
                    <table class="table">
                      <thead>
                      <tr>
                        <th>患者姓名</th>
                        <th>医生姓名</th>
                        <th>预约时间</th>
                        <th>预约原因</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td><%=appdata[0].PatUser.Name%></td>
                        <td><%=appdata[0].DocUser.Name%></td>
                        <td><%=appdata[0].AppDay%> <%=appdata[0].AppTime%></td>
                        <td><%=appdata[0].AppointReason%></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="daily-feeds card">
                <div class="card-header">
                  <h3 class="h4">预约记录</h3>
                </div>
                <div class="card-body no-padding">
                  <!-- Item-->
                <%appList.forEach(appList=>{%>

                  <div class="item clearfix">
                    <div class="feed d-flex justify-content-between">
                      <div class="feed-body d-flex justify-content-between"><a href="" class="feed-profile"><img src="<%=appList.PatUser.Pic%>" alt="person" class="img-fluid rounded-circle"></a>
                        <div class="content">
                          <span><%=appList.PatUser.Name%></span>
                          <div class="full-date"><small><%=appList.AppDay%>  <%=appList.AppTime%></small></div>
                        </div>
                      </div>
                    </div>
                    <div class="quote has-shadow"> <small><%=appList.AppointReason%></small></div>
                  </div>
                  <%})%>

                </div>
              </div>
            </div>
        </div>
        </div>
      </section>
      <%- include ../Docpublic/footer.ejs %>
    </div>
  </div>
</div>

<!-- JavaScript files-->
<%- include ../Docpublic/js.ejs %>
<script>

  $(document).ready(function () {
    //第一次进入页面刷新一次，仅一次
    //location.href.indexOf("#")获取当前页面地址并在其中查找"#"首次出现位置，找不到就是-1
    if (location.href.indexOf("#") == -1) {
      location.href = location.href + "#";
      location.reload();
    }
  })

</script>
</body>
</html>


