<!DOCTYPE html>
<html>
<%- include ../Docpublic/head.ejs %>
<link rel="stylesheet" href="datecss/date.css">
<body>
<div class="page">
    <!--头部导航栏-->
    <%- include ../Docpublic/header.ejs %>
    <div class="page-content d-flex align-items-stretch">
        <!-- 侧边栏 -->
        <%- include ../Docpublic/side.ejs %>
        <div class="content-inner">
            <!--页面标题-->
            <header class="page-header">
                <div class="container-fluid">
                    <h2 class="no-margin-bottom">查看反馈</h2>
                </div>
            </header>
            <div class="breadcrumb-holder container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/index">首页</a></li>
                    <li class="breadcrumb-item active">查看反馈</li>
                </ul>
            </div>

            <div class="container-fluid" style="margin-top: 10px">
                <% fankuipat.forEach(fankuipat=>{%>
                <button  class="btn btn-outline-primary" name="<%=fankuipat.PatUserId%>" type="button" onclick="dianji(this)"><%=fankuipat.PatUser.Name%></button>
                <%})%>
            </div>
            <section class="client no-padding-top" style="margin-top: 10px">
                <div class="col-lg-12" id="all">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h3 class="h4">反馈查看</h3>
                        </div>
                        <div class="line"></div>
                        <div class="form-group row">
                            <div class="container-fluid" style="margin-top: 10px" id="buttonadd"></div>
                        </div>
                        <div class="card-body">
                            <form class="form-horizontal">
                                <div class="line"></div>
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        反馈编号:<input id="fankuiID" readonly="readonly" value=""/>
                                    </div>
                                    <div class="col-md-4">
                                        姓名:<input  id="patname" readonly="readonly" value=""/>
                                    </div>
                                    <div class="col-md-4">
                                        创建日期:<input id="fankuiday" readonly="readonly" value=""/>
                                    </div>
                                </div>
                                <div class="line"></div>
                                <div class="form-group row">
                                    <div class="col-md-2">
                                        反馈内容:
                                    </div>
                                    <div class="col-md-4"><input  readonly="readonly"  value=""  id="fankuipro"  ></div>
                                    <div class="col-md-1">
                                        反馈图片:
                                    </div>
                                    <div class="col-md-5">
                                        <img id="fankuiimg" src="/null.png" height="200px" width="200px">
                                    </div>
                                </div>
                                <div class="line"></div>
                                <div class="form-group  row">
                                    <div class="col-md-4">
                                        医生姓名:<input id="fankuidocname" readonly="readonly" value=""/>
                                    </div>
                                    <div class="col-md-4">
                                        医生邮箱:<input id="fankuidocemail" readonly="readonly" value=""/>
                                    </div>
                                    <div class="col-md-4">
                                        回复日期:<input id="huifuday" readonly="readonly" value=""/>
                                    </div>
                                </div>
                                <div class="line"></div>
                                <div class="form-group  row">
                                    <div class="col-md-2">
                                        反馈内容:
                                    </div>
                                    <div class="col-md-8"><input  readonly="readonly"  value=""  id="huifupro"  ></div>
                                    <div class="col-md-2"> <button  class="btn btn-outline-primary" id="xuanze" type="button" onclick="">提交</button>
                                    </div>
                                </div>
                            </form>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- 页脚 -->
            <%- include ../Docpublic/footer.ejs %>
        </div>
    </div>
</div>



<%- include ../Docpublic/js.ejs %>


<script>



    var $patname=$('#patname')
    var $fankuiId=$('#fankuiID')
    var $fankuiday=$('#fankuiday')
    var $fankuipro=$('#fankuipro')
    var $fankuiImg=$('#fankuiimg')

    var $fankuidocname=$('#fankuidocname')
    var $fankuidacemail=$('#fankuidocemail')
    var $huifuday=$('#huifuday')
    var $huifupro=$('#huifupro')

    var _pat

    var Docid

    function dianji(element) {
        console.log(element.name);
         _pat=element.name
        //console.log('111',fankuicount);
        $.post('/api/addfankui/patfankuicount',{
            _pat,
        },function (data,status) {
            console.log(data);
            $("div#buttonadd .btn-outline-primary").remove()
            addbutton(data.result)
        })
    }

    function addbutton(count){
        for(let i=1; i<=count; i++){
            $('#buttonadd').append('<button type="button" class="btn btn-outline-primary" onclick="button('+i+')" >'+i+'</button>');
        };

    }




    function  button(v) {
        $.post('/api/addfankui/doclookfankui',{
            _pat,
            v
        },function (data,status) {
            console.log(data.result);
            Docid=data.result[1]
            change(data.result[0].DocUser.Email)
            add(data)
        })
    }

    function add(data) {
        $patname.val(data.result[0].PatUser.Name)
        $fankuiId.val(data.result[0].id)
        $fankuiday.val(data.result[0].Createdtime)
        $fankuidocname.val(data.result[0].DocUser.Name)
        $fankuipro.val(data.result[0].content)
        $huifupro.val(data.result[0].fankuineirong)
        $huifuday.val(data.result[0].fankuitime)
        $fankuidacemail.val(data.result[0].DocUser.Email)
        $fankuiImg.attr('src','/null.png');
        $fankuiImg.attr('src',data.result[0].ChatImgs[0].ChatPic);
    }

    function  change(id) {
        if(id==Docid)
        {
            $('#xuanze').css('display','')
            $('#huifupro').removeAttr("readonly")
        }
    }

    $('#xuanze').click(function () {
            const fankuiID=$fankuiId.val()
            const huifupro=$huifupro.val()

            $.post('/api/addfankui/huifu',{
                fankuiID,
                huifupro
            },function (data,status) {
                console.log(data);
                if(data.result.errno=='0')
                    alert('回复成功')
            })
    })

</script>
</body>
</html>